<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style2.css"> 
</head>

<body>

    <!-- Showcase Area -->
    <section class="showcase-area" id="showcase">
        <div class="showcase-container">
            <h1 class="main-title">Eat Right Food</h1>
            <p>Eat Healthy Food, it is good for your health</p>
            <a href="#food-menu" class="btn btn-primary">Menu</a>
        </div>
    </section>
</body>

</html>